server:
  port: 8888

spring:
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/diogopaza/sistema-de-autenticacao-distribuido-com-microservicos-kubernetes-aws-e-angular
          search-paths: config-repo
          default-label: main


